<%- include('partials/head') %>
<%- include('partials/nav') %>
<div class="space-2 space-lg-0">
    <div class="container">
        <div class="row justify-content-center">
           <div class="col-lg-8">
               <img class="img-fluid" src="/img/discussion-scene.svg" alt="Image Description">
                <div class="mt-5">
                    <h1>About us</h1>
                    <p class="mb-3">Snippets - is a collection of elements and combined components that you will find on live pages. Move quickly with copy-to-clipboard feature and build everything from a prototype to a fully designed website.</p>
                    <p class="mb-0">Snippets - is a collection of elements and combined components that you will find on live pages. Move quickly with copy-to-clipboard feature and build everything from a prototype to a fully designed website.</p>
              </div>
           </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
